/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--text-color-light: #000;
	--text-color-dark: #fff;
	--background-color-light: #fff;
	--background-color-dark: #000;
	--background-accent-color-light: #9f9f9f;
	--background-accent-color-dark: #2b2b2b;
	--header-color-light: #fff;
	--header-color-dark: #2b2b2b;
}




/****************/
/* MIJN STYLING */
/****************/

* {
	margin: 0;
	padding: 0;
}

body {
	color: var(--text-color-light);
	background-color: var(--background-accent-color-light);
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
	
}

#skipLink {
	position: absolute;
	transform: translateY(-1000%);
}

#skipLink:focus {
	transform: translateY(0%);
	color: var(--text-color-light);
	background-color: var(--background-accent-color-light);
	z-index: 15;
	font-size: 3em;
	left: 0;
	right: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	
}
input:focus {
	background-color: darkred;
	border-color: var(--background-color-light);
}


button:focus {
	background-color: darkred;
	border-color: var(--background-color-light);
}

button:active {
	background-color: yellow;
	border-color: var(--background-color-light);
}
  


h1 {
	
}

h2 {
	font-size: 1.4em;
	padding: 1em 1em 2em 1em;
}


/* FOOTER CONTAINER */
footer {
	background-color: var(--header-color-dark);
	max-height: 3em;
}
footer ul {
	display: flex;
	align-items: center;
	left: 0;
	right: 0;
	height: 4em;
	padding-left: 2em;
	padding-top: 1em;
	transform: translateY(-1em);
}

/* FOOTER ITEMS */

footer ul li {
	flex-grow: 1;
	list-style-type: none;
	font-size: 0.8em;
	justify-self: flex-end;
}

footer ul li:last-of-type {
	font-size: 1.4em;
	padding: 0;
	margin: 0;
}

footer.anders {
	margin-top: -3.5em;
	transition: 1.4s;
	/* https://cubic-bezier.com/ */
	transition-timing-function: cubic-bezier(.82,-0.01,.23,1.5);
	width: 100%;
	margin-bottom: 0;
}


/* HEADER WRAPPER */
header {
	position: sticky;
	top: 0;
	background-color: var(--background-color-light);
}

header div {
	display: flex;
}

header div section {
	padding: 1em 0 1em 0;
}

/* HEADER LINKER CONTAINER */

header section:first-of-type {
	display: flex;
}

header section:first-of-type button {
	flex-grow: 1;
}

header button {
	background-color: var(--header-color-light);
	border: 0;
	max-width: 145px;
}

header button a {

}

header button a img {
	margin: 0;

}

/* HAMBURGER MENUUTJEEEEE */
#hamburger {

}
/* LOGO IMG */

#logo {
	margin-left: 1.2em;
	margin-right: 2.6em;
	margin-bottom: 0.4em;




}

/* HEADER MIDDELSTE CONTAINER (ZOEKBALK) */

header section:nth-of-type(2) {
	flex-grow: 1;
}

header section:nth-of-type(2) form {
	display: flex;
	flex-grow: 1; 
	height: 100%;
}

header section:nth-of-type(2) form button {

}

/* .zoekVeld  */

section form input {
	height: 90%;
	width: 100%;
	border-radius: 1.2em;
	border-width: 0.25em;
	border-color: var(--background-color-light);
	padding: 0 1em 0 1em;
	font-size: 1em;
	min-width: 4.7em;
}


/* HEADER RECHTER CONTAINER */

header section:last-of-type {
	margin-left: auto;
}

header section:last-of-type {
	display: flex;
}

header img {
	height: 4em;
}

/* NAVBAR  */
header nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	transform: translateX(-100%);
	background-color: var(--background-color-light); 
}

.geopend {
	transform: translateX(0);
	transition: 0.8s;
	transition-timing-function: cubic-bezier(.92,0,.43,1);
}

.hamburGeopend {
	position: static;
	z-index: 10;
	transform: rotate(90deg);
	transition: 0.85s;
	transition-timing-function: cubic-bezier(.83,-0.59,.45,1.01);
	background-color: var(--background-color-light);

}

.hamburGeopend:focus {

}


nav ul {
	background-color: var(--default-color);
	margin-top: 8em;

}

nav ul li {
	list-style-type: none;
	/* height: 3em; */
	flex-grow: 1;
	padding: 3em 2em 3em 2em;
	font-size: 1.3em;
	background-color: var(--background-color-light);
}

nav ul li a {
	font-size: 1.2em;
}

nav a:link {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:visited {
	color: var(--text-color-light);
}

nav a:hover {
	color: orange;
	transition: 0.5s;
}

nav a:active {
	color: cyan;
	transition: 0s;
}

/* GRID PARENT VAN ALLE PRODUCT BLOKJES */

main section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
	gap: 1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
}

/* Grid container van alle product blokjes */
.productOverzicht {

}


section.productOverzichtTitel {
	
}


/* Grid contrainer van het blokje zelf */

article {
	display: grid;
	padding: 0;
	border: .1em solid var(--header-color-light);
	height: min-content;
}


article img {
	border: .1em solid black;
	justify-self: center;
	max-width: 100%;
	border-radius: 1em;
}

section article div {
	display: flex;
	align-items: center;
}

article p {
	flex-grow: 1;
}


article button {
	border: .1em solid black;
	height: 100%;
	font-size: 2em;
	color: black;
	flex-grow: 1;
	max-width: 1.35em;
}



/* MEDIA QUERIES */

/* KLEINER DAN 600px */

@media (max-width: 600px){
	main section {
		gap: 2em;
	}
	
	
	.zoekVeld {
		display: none;
	}
	
	.zoekKnop {
		margin-left: auto;
	}
	
}

@media (min-width: 600px){
	
	main, header, footer ul {
		max-width: 90em;
		margin-inline: auto;
	}

	div section:nth-of-type(2){
		padding-left: 1em;
	}
	div section:nth-of-type(2) img {
		padding-left: 1em;
	}
}

/* TABLET FORMAAT OF GROTER */

@media (min-width: 1000px){
	header nav {
		position: static;
		transform: translateX(0);
	}
	
	header nav ul {
		display: flex;
	}
	
	

	
	
	
}

@media (prefers-color-scheme: dark) {

	:root {
	--text-color-light: #fff;
	--text-color-dark: #000;
	--background-color-light: #000;
	--background-color-dark: #fff;
	--default-color: #3d3d3d;
	--background-accent-color-light: #1b1b1b;
	--background-accent-color-dark: #9f9f9f;
	--header-color-light: #fff;
	}

	#hamburger {
		background-color: var(--background-color-dark);
	}

	a {
		color: var(--text-color-light);
	}

	p {
		color: var(--accent-color);
	}

	form input{
		/* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/invert */
		filter: invert(1);
		color: var(--background-color-light);
	}

	header button {
		/* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/invert */
		filter: invert(1);
		background-color: var(--background-color-dark);
	}

	.productOverzicht article {
		border: 0;
	}

}