/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
	color: red;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--text-color-light: #000;
	--text-color-dark: #fff;
	--background-color-light: #fff;
	--background-color-dark: #000;
	--default-color: #3d3d3d;
}




/****************/
/* MIJN STYLING */
/****************/

* {
	margin: 0;
	padding: 0;
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
	padding: 0;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {

}

h2 {
	font-size: 1.4em;
	padding: 1em 1em 2em 1em;
}


/* FOOTER CONTAINER */

footer ul {
	display: flex;
	left: -1em;
	right: -1em;
	height: 3em;
	background-color: #f1f1f1;
	align-items: center;
	padding-left: 2em;
}

/* FOOTER ITEMS */

footer ul li {
	flex-grow: 1;
	justify-content: space-around;
	list-style-type: none;
	font-size: 0.8em;
}

/* HEADER WRAPPER */
header {
	
}

header div {
	display: flex;
	gap: 1em;
}

header div section {
	padding: 1em 0.6em 1em 0.6em;
}

/* HEADER LINKER CONTAINER */

header section:first-of-type {
	display: flex;
}

header section:first-of-type button {
	flex-grow: 1;
}


header button {
	background-color: var(--background-color-light);
	border: 0;
}

/* HAMBURGER MENU IMG*/
section:first-of-type button > img {
	padding-top:0.4em;
}
	

/* LOGO IMG */

section:first-of-type button a img {
	padding-left: 1em;
}



/* HEADER MIDDELSTE CONTAINER (ZOEKBALK) */

header section:nth-of-type(2) {

}

header section:nth-of-type(2) form {
	display: flex;
	flex-grow: 1; 
	height: 100%;
}

header section:nth-of-type(2) form button {
	flex-grow:1;
}



section form input {
	height: 95%;
	width: 100%;
	border-radius: 1em;
	border-width: 0.25em;
	border-color: black;
	padding: 0 1em 0 1em;
	font-size: 1em;
	min-width: 8em;
}


/* HEADER RECHTER CONTAINER */

header section:last-of-type {
	margin-left: auto;
}

header section:last-of-type {
	display: flex;
}

header img {
	height: 3.8em;
}

/* NAVBAR  */
header nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	
	transform: translateX(100%);
}

nav ul {
	display: flex;
	background-color: var(--default-color);
}

nav ul li {
	list-style-type: none;
	/* height: 3em; */
	flex-grow: 1;
	text-align: center;
	padding: 0;
	padding-top: 1.3em;
	padding-bottom: 1.3em;
}

nav ul li a {
	font-size: 1.2em;
}

nav a:link {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:visited {
	color: var(--text-color-dark);
}

nav a:hover {
	color: crimson;
	transition: 0.5s;
}

nav a:active {
	color: yellow;
	transition: 0s;
}

/* GRID PARENT VAN ALLE PRODUCT BLOKJES */

main section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
	gap: 2em;
}


section.productOverzichtTitel {

}

/* Grid container van alle product blokjes */
.productOverzicht {
	
}

/* Grid contrainer van het blokje zelf */
article {


	
}

article ul {
	display: grid;
	grid-template-columns: 70% 30%;
	padding: 0;
	
}

article ul li {
	list-style: none;
	border: .1em solid black;
}

/* TABLET FORMAAT OF GROTER */

@media (min-width: 1000px){
	header nav {
		position: static;
		transform: translateX(0);
	}

	
	
	header button {
		display: none;
	}
}